<a href="https://colab.research.google.com/github/AuraFrizzati/AWS-Machine-Learning-Foundation/blob/main/AWS_ML_L4_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Refactor: Wine Quality Analysis**
- In this exercise, you'll refactor code that analyzes a wine quality dataset taken from the **UCI Machine Learning Repository** [here](https://archive.ics.uci.edu/ml/datasets/wine+quality). Each row contains data on a wine sample, including several physicochemical properties gathered from tests, as well as a quality rating evaluated by wine experts.
- The code in this notebook first renames the columns of the dataset and then calculates some statistics on how some features may be related to quality ratings. Can you refactor this code to make it more clean and modular?

In [ ]:
import pandas as pd
df = pd.read_csv('winequality-red.csv', sep=';')
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

##### **Renaming Columns**
You want to replace the spaces in the column labels with underscores to be able to reference columns with dot notation. Here's one way you could've done it

In [ ]:
new_df = df.rename(columns={'fixed acidity': 'fixed_acidity',
                            'volatile acidity': 'volatile_acidity',
                            'citric acid': 'citric_acid',
                            'residual sugar': 'residual_sugar',
                            'free sulfur dioxide': 'free_sulfur_dioxide',
                            'total sulfur dioxide': 'total_sulfur_dioxide'
                            })
new_df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

...And here's a slightly better way you could do it. You can avoid making naming errors due to typos caused by manual typing. However, this looks a little repetitive. Can you make it better?

In [ ]:
labels = list(df.columns)
labels[0] = labels[0].replace(' ', '_')
labels[1] = labels[1].replace(' ', '_')
labels[2] = labels[2].replace(' ', '_')
labels[3] = labels[3].replace(' ', '_')
labels[5] = labels[5].replace(' ', '_')
labels[6] = labels[6].replace(' ', '_')
df.columns = labels
df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
#################################################
#### Using loop to change columns' names
df = pd.read_csv('winequality-red.csv', sep=';')
labels = list(df.columns)

for i in range(0,len(labels)):
  labels[i] = labels[i].replace(' ', '_')
df.columns = labels
df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

#### **Analyzing Features**
- Now that your columns are ready, you want to see how different features of this dataset relate to the quality rating of the wine. A very simple way you could do this is by observing the mean quality rating for the top and bottom half of each feature. The code below does this for four features. It looks pretty repetitive right now. Can you make this more concise?

- You might challenge yourself to figure out how to make this code more efficient! But you don't need to worry too much about efficiency right now - we will cover that more in the next section.

In [ ]:
median_alcohol = df.alcohol.median()
for i, alcohol in enumerate(df.alcohol):
  if alcohol >= median_alcohol:
    df.loc[i, 'alcohol'] = 'high'
  else:
    df.loc[i, 'alcohol'] = 'low'
df.groupby('alcohol').quality.mean()

alcohol
high    5.958904
low     5.310302
Name: quality, dtype: float64

In [ ]:
median_pH = df.pH.median()
for i, pH in enumerate(df.pH):
  if pH >= median_pH:
    df.loc[i, 'pH'] = 'high'
  else: 
    df.loc[i, 'pH'] = 'low'
df.groupby('pH').quality.mean()

pH
high    5.598039
low     5.675607
Name: quality, dtype: float64

In [ ]:
median_sugar = df.residual_sugar.median()
for i, sugar in enumerate(df.residual_sugar):
  if sugar >= median_sugar:
    df.loc[i, 'residual_sugar'] = 'high'
  else:
    df.loc[i, 'residual_sugar'] = 'low'
df.groupby('residual_sugar').quality.mean()

residual_sugar
high    5.665880
low     5.602394
Name: quality, dtype: float64

In [ ]:
median_citric_acid = df.citric_acid.median()
for i, citric_acid in enumerate(df.citric_acid):
  if citric_acid >= median_citric_acid:
    df.loc[i, 'citric_acid'] = 'high'
  else:
    df.loc[i, 'citric_acid'] = 'low'
df.groupby('citric_acid').quality.mean()

citric_acid
high    5.822360
low     5.447103
Name: quality, dtype: float64

In [ ]:
####################################
#### to make the code more concise:
new_df2 = df.copy() ##re-initialise the df

## [1] Define a function to calculate the mean quaility score depending whether the 
## feature value is above or below the median:
def quality_by_group(feature, dataset):
  median_feature = dataset[feature].median()
  for i, attribute in enumerate(dataset[feature]):
    if attribute >= median_feature:
      dataset.loc[i, feature] = 'high'
    else:
      dataset.loc[i, feature] = 'low'
  return  dataset.groupby(feature).quality.mean()


## [2] Loop through all the dataframe's columns:
for column in new_df2.columns[:-1]:
  print(quality_by_group(column, new_df2), "\n")

fixed_acidity
high    5.726061
low     5.540052
Name: quality, dtype: float64

volatile_acidity
high    5.392157
low     5.890166
Name: quality, dtype: float64

citric_acid
high    5.822360
low     5.447103
Name: quality, dtype: float64

residual_sugar
high    5.665880
low     5.602394
Name: quality, dtype: float64

chlorides
high    5.507194
low     5.776471
Name: quality, dtype: float64

free_sulfur_dioxide
high    5.595268
low     5.677136
Name: quality, dtype: float64

total_sulfur_dioxide
high    5.522981
low     5.750630
Name: quality, dtype: float64

density
high    5.540574
low     5.731830
Name: quality, dtype: float64

pH
high    5.598039
low     5.675607
Name: quality, dtype: float64

sulphates
high    5.898917
low     5.351562
Name: quality, dtype: float64

alcohol
high    5.958904
low     5.310302
Name: quality, dtype: float64

In [ ]:
####################################
#### Official solution:
import pandas as pd
df = pd.read_csv('winequality-red.csv', sep=';')
df.head()

## Renaming Columns

df.columns = [label.replace(' ', '_') for label in df.columns]
df.head()

## Analyzing Features

def numeric_to_buckets(df, column_name):
    median = df[column_name].median()
    for i, val in enumerate(df[column_name]):
        if val >= median:
            df.loc[i, column_name] = 'high'
        else:
            df.loc[i, column_name] = 'low' 

for feature in df.columns[:-1]:
    numeric_to_buckets(df, feature)
    print(df.groupby(feature).quality.mean(), '\n')

fixed_acidity
high    5.726061
low     5.540052
Name: quality, dtype: float64

volatile_acidity
high    5.392157
low     5.890166
Name: quality, dtype: float64

citric_acid
high    5.822360
low     5.447103
Name: quality, dtype: float64

residual_sugar
high    5.665880
low     5.602394
Name: quality, dtype: float64

chlorides
high    5.507194
low     5.776471
Name: quality, dtype: float64

free_sulfur_dioxide
high    5.595268
low     5.677136
Name: quality, dtype: float64

total_sulfur_dioxide
high    5.522981
low     5.750630
Name: quality, dtype: float64

density
high    5.540574
low     5.731830
Name: quality, dtype: float64

pH
high    5.598039
low     5.675607
Name: quality, dtype: float64

sulphates
high    5.898917
low     5.351562
Name: quality, dtype: float64

alcohol
high    5.958904
low     5.310302
Name: quality, dtype: float64

#### **Exercise: Optimizing â€“ Common books**
We provide the code your coworker wrote to find the common book IDs in `books_published_last_two_years.txt` and `all_coding_books.txt` to obtain a list of recent coding books. Can you optimize it?

##### **Optimizing Code: Common Books**

Here's the code your coworker wrote to find the common book ids in `books_published_last_two_years.txt` and `all_coding_books.txt` to obtain a list of recent coding books.

In [ ]:
import time
import pandas as pd
import numpy as np

with open('books-published-last-two-years.txt') as f:
  recent_books = f.read().split('\n')
  
with open('all-coding-books.txt') as f:
  coding_books = f.read().split('\n')

#recent_books
#coding_books

In [ ]:
start = time.time()
recent_coding_books = []
for book in recent_books:
  if book in coding_books:
    recent_coding_books.append(book)

print(len(recent_coding_books))

print('Duration: {} seconds'.format(time.time() - start))

96
Duration: 16.983447551727295 seconds

###### **Tip #1**: 

Use **vector operations** over loops when possible: use numpy's `intersect1d` method to get the intersection of the `recent_books` and `coding_books` arrays.

In [ ]:
start = time.time()
recent_coding_books =  np.intersect1d(recent_books,coding_books) # TODO: compute intersection of lists"
print(len(recent_coding_books))
print('Duration: {} seconds'.format(time.time() - start))

96
Duration: 0.03860664367675781 seconds

##### **Tip #2**: 
Know your **data structures** and **which methods are faster**. Use the set's `intersection` method to get the common elements in `recent_books` and `coding_books`.

In [ ]:
print(type(set(recent_books)),type(coding_books))

<class 'set'> <class 'list'>

In [ ]:
start = time.time()
recent_coding_books =  set(recent_books).intersection(set(coding_books)) # TODO: compute intersection of lists"
print(len(recent_coding_books))
print('Duration: {} seconds'.format(time.time() - start))

96
Duration: 0.01020050048828125 seconds

#### **Exercise: Optimizing - Holiday Gifts**
- In the last example, you learned that u**sing vectorized operations** and **more efficient data structures** can **optimize your code**. Let's use these tips for one more exercise.

- Your online gift store has one million users that each listed a gift on a wishlist. You have the prices for each of these gifts stored in `gift_costs.txt`. For the holidays, you're going to give each customer their wishlist gift for free if the cost is under \$25. Now, you want to calculate the total cost of all gifts under \$25 to see how much you'd spend on free gifts.

In [ ]:
import time
import numpy as np

with open('gift-costs.txt') as f:
  gift_costs = f.read().split('\n')

gift_costs = np.array(gift_costs).astype(int)  # convert string to int"
gift_costs[0:10]

array([ 8, 84, 42, 65, 74, 66, 48, 27, 78, 52])

In [ ]:
start = time.time()
total_price = 0
for cost in gift_costs:
  if cost < 25:
    total_price += cost * 1.08  # add cost after tax"

print(total_price)
print('Duration: {} seconds'.format(time.time() - start))

32765421.23999867
Duration: 9.317185640335083 seconds

- Here you iterate through each cost in the list, and check if it's less than 25. If so, you add the cost to the total price after tax. This works, but there is a much faster way to do this. Can you refactor this to run under half a second?
- **Hint:** Using numpy makes it very easy to select all the elements in an array that meet a certain condition, and then perform operations on them together all at once. You can then find the sum of what those values end up being.

In [ ]:
start = time.time()
#trying using list comprehensions..but not quite an improvement!
total_price = sum([x*1.08 for x in gift_costs if x <25]) # TODO: compute the total price"
print(total_price)
print('Duration: {} seconds'.format(time.time() - start))

32765421.23999867
Duration: 8.982476234436035 seconds

In [ ]:
#solution
start = time.time()
total_price = gift_costs[gift_costs<25].sum()*1.08 # TODO: compute the total price"
print(total_price)
print('Duration: {} seconds'.format(time.time() - start))

32765421.240000002
Duration: 0.07423949241638184 seconds